#accordion h3 div {
        color:blue;
	margin:0;
        text-align:left;
        font-weight:bold;
        font-size:20pt;
        line-height:50px;
}

#accordion h3 img {
        color:blue;
	margin:0;
        text-align:left;
        font-weight:bold;
        font-size:20pt;
        line-height:50px;
        vertical-align:middle;
}
