@charset "UTF-8";
/*== HOME PAGE ONLY STYLING/POSITIONING ==*/
#mainContent #leftBodyContainer {
	width:390px;
}
#mainContent #middleBodyContainer {
	width:265px;
}
#mainContent #rightBodyContainer {
	width:322px;
}
#mainContent #middleBodyContainer img, #mainContent #leftBodyContainer img, #mainContent #rightBodyContainer img {
	float:left;
	clear:left;
}
#leftBodyContainer, #middleBodyContainer, #rightBodyContainer {
	margin-top:5px;
	overflow:hidden;
	float:left;
}
#leftBodyContainer, #middleBodyContainer {
	margin-right:6px;
}
#mainContent #leftBodyContainer #urgentInfo {
	width: 385px;
	height: 125px;
        border: solid green 2px;
        color:red;
	margin-bottom: 5px;
}
#mainContent #leftBodyContainer #resolvedInfo {
	width: 385px;
	height: 145px;
        border: solid green 2px;
        color:black;
	margin-bottom: 5px;
}
#mainContent #leftBodyContainer #havenInfo {
	width: 385px;
	height: 145px;
        border: solid #092CE6 2px;
        color:black;
	margin-bottom: 5px;
}
#mainContent #leftBodyContainer #appointmentInfo {
	width:385px;
	height:175px;
	border:white 0px solid;
	margin-bottom:5px;
}
#mainContent #rightBodyContainer #blogPost {
	width:322px;
	height:550px;
	border:white 0px solid;
	overflow:scroll;
}
#mainContent #rightBodyContainer #blogPost div {
        padding-top:10px;
        clear:both;
}
#mainContent #middleBodyContainer #adoptInfo {
	height:418px;
	border:white 0px solid;
}
#mainContent #middleBodyContainer #volunteerInfo {
	height:200px;
	border:white 0px solid;
}
#mainContent #eventCal {
	width:385px;
	height:240px;
	border:white 0px solid;
	margin-bottom:5px;
}
#mainContent #specialNeedsRabbits {
	width:385px;
	height:140px;
	border:white 0px solid;
	margin-bottom:5px;
}
#mainContent #featRabbit {
	width: 410px;
	height: 220px;
	border: 0px solid white;
}
#mainContent #leftBodyContainer #appointmentInfo, #mainContent #leftBodyContainer #havenInfo, #mainContent #leftBodyContainer #urgentInfo, #mainContent #leftBodyContainer #resolvedInfo, #mainContent #middleBodyContainer #adoptInfo, #mainContent #middleBodyContainer #volunteerInfo, #mainContent #rightBodyContainer #featRabbit {
	overflow:hidden;
}
#mainContent #leftBodyContainer #appointmentInfo p, #mainContent #leftBodyContainer #havenInfo p, #mainContent #leftBodyContainer #urgentInfo p, #mainContent #leftBodyContainer #resolvedInfo p, #mainContent #rightBodyContainer #blogPost p, #mainContent #middleBodyContainer #adoptInfo p,  #mainContent #middleBodyContainer #volunteerInfo li, #mainContent #middleBodyContainer #volunteerInfo p, #mainContent #rightBodyContainer #featRabbit p, #mainContent #leftBodyContainer #specialNeedsRabbits p {
	font-size:.8em;
	margin:2px;
}
#blogPost div { 
	font-size:.8em;
	margin:2px;
        text-align:right;
        padding-right:10px;
}
#appointmentInfo div, #havenInfo div, #urgentInfo div, #resolvedInfo div { 
	font-size:.8em;
	margin:2px;
        text-align:right;
        padding-right:10px;
}
#mainContent #middleBodyContainer #adoptInfo p {
	margin-bottom:10px;
}
#mainContent #middleBodyContainer #adoptInfo ul {
	list-style: none;
}
#mainContent #middleBodyContainer #adoptInfo li {
	font-size:.9em;
}
#mainContent #leftBodyContainer #appointmentInfo h2, #mainContent #leftBodyContainer #havenInfo h2, #mainContent #leftBodyContainer #urgentInfo h2, #mainContent #leftBodyContainer #resolvedInfo h2, #mainContent #rightBodyContainer #blogPost h2, #mainContent #middleBodyContainer #adoptInfo h2, #mainContent #middleBodyContainer #volunteerInfo h2, #mainContent #rightBodyContainer #featRabbit h2, #mainContent #leftBodyContainer #eventCal h2, #mainContent #leftBodyContainer #specialNeedsRabbits h2  {
	font-size:.9em;
	font-weight:bold;
}
#mainContent #leftBodyContainer #havenInfo h3 {
	color:white;
        background:#092CE6;
	padding: 2px;
        text-align:center;
}
#mainContent #leftBodyContainer #appointmentInfo h3 {
	color:white;
        background:#092CE6;
	padding: 2px;
        text-align:center;
}

#mainContent #leftBodyContainer #urgentInfo h3 {
	color:white;
        background:green;
	padding: 2px;
        text-align:center;
}

#mainContent #leftBodyContainer #resolvedInfo h3 {
	color:white;
        background:green;
	padding: 2px;
        text-align:center;
}
#mainContent #rightBodyContainer #blogPost h2, #mainContent #middleBodyContainer #adoptInfo h2, #mainContent #middleBodyContainer #volunteerInfo h2, #mainContent #rightBodyContainer #featRabbit h2, #mainContent #leftBodyContainer #eventCal h2, #mainContent #leftBodyContainer #appointmentInfo h2 {
	background:#99ccff;
        color:black;
	padding:3px;
	margin:0;
}
#mainContent #rightBodyContainer #blogPost h3 {
	background:white;
        color:#1111C1;
	padding:3px;
	margin:0;
        text-align:left !important;
}
#mainContent #leftBodyContainer #specialNeedsRabbits h2 {
	background:#99ccff;
	color:black;
	padding:2px;
}
#flash {
/*	position:absolute; */
/*	bottom:210px; */
}
