@charset "UTF-8";

.prevYearsArchiveBox
{
        text-align:center;
        float:right;
        width:200px;
        font-family:arial,helvetica,sans-serif;
        font-size:11px;
        border-style:solid;
        border-width:1px;
        border-color:lightgray;
}

ul.prevYearsArchiveBox
{ 
        list-style-type:none;
}

.archiveList
{
       color:black;
}

ul.archiveList
{ 
       font-size:14px;
       list-style-type:none;
}
