#lightbox {
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;	
}

#lightboxDetails {
	font-size: 0.8em;
	padding-top: 0.4em;
}	

#lightboxCaption { 
	float: left; 
	font-family:Verdana,Arial;
	font-size:10px;
}

#keyboardMsg { 
	float: right; 
	font-family:Verdana,Arial;
	font-size:10px;		
}

#closeButton { 
	top: 5px; 
	right: 5px; 
}

#lightbox img { 
	border: none; clear: both;
} 

#overlay img { 
	border: none; 
}

#overlay { 
	background-image: url(overlay.png); 
}

* html #overlay {
	background-color: #333;
	back\ground-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../typo3conf/ext/kj_imagelightbox/Lightbox/overlay.png", sizingMethod="scale");
}
	