.mstheme-bannertxt a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-bannertxt a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-bannertxt a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-bannertxt-g
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
}
.mstheme-bannertxt-g a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-bannertxt-g a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-bannertxt-g a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-bannertxt-s
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
}
.mstheme-bannertxt-s a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-bannertxt-s a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-bannertxt-s a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-horiz-navtxt a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-horiz-navtxt a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-horiz-navtxt a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-horiz-navtxt-g
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
}
.mstheme-horiz-navtxt-g a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-horiz-navtxt-g a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-horiz-navtxt-g a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-horiz-navtxt-gs
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
}
.mstheme-horiz-navtxt-gs a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-horiz-navtxt-gs a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-horiz-navtxt-gs a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-navtxthome a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-navtxthome a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-navtxthome a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-navtxthome-g
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 153, 0);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
}
.mstheme-navtxthome-g a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-navtxthome-g a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-navtxthome-g a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-navtxthome-gs
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 153, 0);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
}
.mstheme-navtxthome-gs a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-navtxthome-gs a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-navtxthome-gs a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-navtxtnext a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-navtxtnext a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-navtxtnext a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-navtxtnext-g
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 153, 0);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
}
.mstheme-navtxtnext-g a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-navtxtnext-g a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-navtxtnext-g a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-navtxtnext-gs
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 153, 0);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
}
.mstheme-navtxtnext-gs a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-navtxtnext-gs a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-navtxtnext-gs a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-navtxtprev a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-navtxtprev a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-navtxtprev a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-navtxtprev-g
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 153, 0);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
}
.mstheme-navtxtprev-g a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-navtxtprev-g a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-navtxtprev-g a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-navtxtprev-gs
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 153, 0);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
}
.mstheme-navtxtprev-gs a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-navtxtprev-gs a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-navtxtprev-gs a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-navtxtup a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-navtxtup a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-navtxtup a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-navtxtup-g
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 153, 0);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
}
.mstheme-navtxtup-g a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-navtxtup-g a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-navtxtup-g a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-navtxtup-gs
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 153, 0);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
}
.mstheme-navtxtup-gs a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-navtxtup-gs a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-navtxtup-gs a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-topbar-font a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-topbar-font a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-topbar-font a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-topbar-font-g
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(102,153,102);
	font-size: 8pt;
}
.mstheme-topbar-font-g a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-topbar-font-g a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-topbar-font-g a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-vert-navtxt a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-vert-navtxt a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-vert-navtxt a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-vert-navtxt-g
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
}
.mstheme-vert-navtxt-g a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-vert-navtxt-g a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-vert-navtxt-g a:visited
{
	color: rgb(153, 153, 51);
}
.mstheme-vert-navtxt-gs
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
}
.mstheme-vert-navtxt-gs a:link
{
	color: rgb(255, 153, 51);
}
.mstheme-vert-navtxt-gs a:active
{
	color: rgb(255, 102, 0);
}
.mstheme-vert-navtxt-gs a:visited
{
	color: rgb(153, 153, 51);
}
