.mstheme
{
	separator-image: url(sunsepd.gif);
	list-image-1: url(sunbul1D.gif);
	list-image-2: url(sunbul2D.gif);
	list-image-3: url(sunbul3D.gif);
	nav-banner-image: url(sunbannd.gif);
	navbutton-horiz-normal: url(sunnavhd.gif);
	navbutton-horiz-hovered: url(sunnavhd.gif);
	navbutton-horiz-pushed: url(sunnavhs.gif);
	navbutton-vert-normal: url(sunnavvd.gif);
	navbutton-vert-hovered: url(sunnavvd.gif);
	navbutton-vert-pushed: url(sunnavvs.gif);
	navbutton-home-normal: url(sunhomed.gif);
	navbutton-home-hovered: url(sunhomed.gif);
	navbutton-home-pushed: url(sunhomed.gif);
	navbutton-next-normal: url(sunnextd.gif);
	navbutton-next-hovered: url(sunnextd.gif);
	navbutton-next-pushed: url(sunnextd.gif);
	navbutton-prev-normal: url(sunprevd.gif);
	navbutton-prev-hovered: url(sunprevd.gif);
	navbutton-prev-pushed: url(sunprevd.gif);
	navbutton-up-normal: url(sunupd.gif);
	navbutton-up-hovered: url(sunupd.gif);
	navbutton-up-pushed: url(sunupd.gif);
}
.mstheme-bannertxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(102, 153, 102);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
}
.mstheme-horiz-navtxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 153, 0);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
}
.mstheme-vert-navtxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 153, 0);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
}
.mstheme-navtxthome
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 153, 0);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
}
.mstheme-navtxtnext
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 153, 0);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
}
.mstheme-navtxtprev
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 153, 0);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
}
.mstheme-navtxtup
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 153, 0);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
}
ul
{
	list-style-image: url(sunbul1D.gif);
}
ul ul
{
	list-style-image: url(sunbul2D.gif);
}
ul ul ul
{
	list-style-image: url(sunbul3D.gif);
}
