.mstheme
{
	separator-image: url(sunsepa.gif);
	list-image-1: url(sunbul1A.gif);
	list-image-2: url(sunbul1A.gif);
	list-image-3: url(sunbul1A.gif);
	nav-banner-image: url(sunbanna.gif);
	navbutton-horiz-normal: url(sunnavha.gif);
	navbutton-horiz-hovered: url(sunnavhh.gif);
	navbutton-horiz-pushed: url(sunnavhp.gif);
	navbutton-vert-normal: url(sunnavva.gif);
	navbutton-vert-hovered: url(sunnavvh.gif);
	navbutton-vert-pushed: url(sunnavvp.gif);
	navbutton-home-normal: url(sunhomea.gif);
	navbutton-home-hovered: url(sunhomeh.gif);
	navbutton-home-pushed: url(sunhomea.gif);
	navbutton-next-normal: url(sunnexta.gif);
	navbutton-next-hovered: url(sunnexth.gif);
	navbutton-next-pushed: url(sunnexta.gif);
	navbutton-prev-normal: url(sunpreva.gif);
	navbutton-prev-hovered: url(sunprevh.gif);
	navbutton-prev-pushed: url(sunpreva.gif);
	navbutton-up-normal: url(sunupa.gif);
	navbutton-up-hovered: url(sunuph.gif);
	navbutton-up-pushed: url(sunupa.gif);
}
.mstheme-bannertxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
}
.mstheme-horiz-navtxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
}
.mstheme-vert-navtxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
}
.mstheme-navtxthome
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 153, 0);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
}
.mstheme-navtxtnext
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 153, 0);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
}
.mstheme-navtxtprev
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 153, 0);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
}
.mstheme-navtxtup
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 153, 0);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
}
ul
{
	list-style-image: url(sunbul1A.gif);
}
ul ul
{
	list-style-image: url(sunbul1A.gif);
}
ul ul ul
{
	list-style-image: url(sunbul1A.gif);
}
