charset "UTF-8";
/*== HOME PAGE ONLY STYLING/POSITIONING ==*/
#mainContent #leftBodyContainer {
	width:390px;
}
#mainContent #middleBodyContainer {
	width:265px;
}
#mainContent #rightBodyContainer {
	width:322px;
}
#mainContent #middleBodyContainer img, #mainContent #leftBodyContainer img, #mainContent #rightBodyContainer img {
	float:left;
	clear:left;
}
#leftBodyContainer, #middleBodyContainer, #rightBodyContainer {
	margin-top:5px;
	overflow:hidden;
	float:left;
}
#leftBodyContainer, #middleBodyContainer {
	margin-right:6px;
}
#mainContent #leftBodyContainer #urgentInfo {
	width: 385px;
	height: 145px;
        border: solid red 2px;
        color:red;
	margin-bottom: 5px;
}
#mainContent #rightBodyContainer #blogPost {
	width:322px;
	height:550px;
	border:white 0px solid;
	overflow:scroll;
}
#mainContent #middleBodyContainer #adoptInfo {
	height:390px;
	border:white 0px solid;
}
#mainContent #middleBodyContainer #volunteerInfo {
	height:200px;
	border:white 0px solid;
}
#mainContent #eventCal {
	width:385px;
	height:224px;
	border:white 0px solid;
	margin-bottom:5px;
}
#mainContent #specialNeedsRabbits {
	width:385px;
	height:100px;
	border:white 0px solid;
	margin-bottom:5px;
}
#mainContent #featRabbit {
	width: 410px;
	height: 220px;
	border: 0px solid white;
}
#mainContent #leftBodyContainer #urgentInfo, #mainContent #middleBodyContainer #adoptInfo, #mainContent #middleBodyContainer #volunteerInfo, #mainContent #rightBodyContainer #featRabbit {
	overflow:hidden;
}
#mainContent #leftBodyContainer #urgentInfo p, #mainContent #rightBodyContainer #blogPost p, #mainContent #middleBodyContainer #adoptInfo p,  #mainContent #middleBodyContainer #volunteerInfo li, #mainContent #middleBodyContainer #volunteerInfo p, #mainContent #rightBodyContainer #featRabbit p, #mainContent #leftBodyContainer #specialNeedsRabbits p {
	font-size:.7em;
	margin:2px;
}
#blogPost div { 
	font-size:.7em;
	margin:2px;
        text-align:right;
        padding-right:10px;
}
#mainContent #middleBodyContainer #adoptInfo p {
	margin-bottom:10px;
}
#mainContent #middleBodyContainer #adoptInfo ul {
	list-style: none;
}
#mainContent #middleBodyContainer #adoptInfo li {
	font-size:8pt;
}
#mainContent #leftBodyContainer #urgentInfo h2, #mainContent #rightBodyContainer #blogPost h2, #mainContent #middleBodyContainer #adoptInfo h2, #mainContent #middleBodyContainer #volunteerInfo h2, #mainContent #rightBodyContainer #featRabbit h2, #mainContent #leftBodyContainer #eventCal h2, #mainContent #leftBodyContainer #specialNeedsRabbits h2  {
	font-size:.9em;
	font-weight:bold;
}
#mainContent #leftBodyContainer #urgentInfo h2 {
	color:white;
        background:red;
	padding: 2px;
        text-align:center;
}
#mainContent #rightBodyContainer #blogPost h2, #mainContent #middleBodyContainer #adoptInfo h2, #mainContent #middleBodyContainer #volunteerInfo h2, #mainContent #rightBodyContainer #featRabbit h2, #mainContent #leftBodyContainer #eventCal h2 {
	background:#99ccff;
        color:black;
	padding:3px;
	margin:0;
}
#mainContent #rightBodyContainer #blogPost h3 {
	background:white;
        color:#1111C1;
	padding:3px;
	margin:0;
        text-align:center;
}
#mainContent #leftBodyContainer #specialNeedsRabbits h2 {
	background:#99ccff;
	color:black;
	padding:2px;
}
#flash {
/*	position:absolute; */
/*	bottom:210px; */
}
