@charset "UTF-8";

/*== STANDARD TAG STYLES ==*/
html, body, p, h1, h2, h3, h4, h5, h6, blockquote {
	padding:0;
	margin:0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}
p {
	margin-bottom:10px;
	font-size:.9em;
	color: black;
}
h1, h2, h3, h4, h5, h6 {
	color: #486bc4;
}
h1 {
	font-size:1.7em;
        color: #1111C1;
        text-align: center;
}
h2 {
	font-size:1.2em;
}
h3 {
	font-size:.8em;
        text-align:center;
}
blockquote {
	margin:.8em 4em;
	font-size:.9em;
}
hr {
	border:#1111C1 1px solid;
}
ul {
	list-style-type:circle;
	font-size:.9em;
}
ol {
	margin-left:.4em;
	font-size:.9em;
}
ul ul, ol ul {
	list-style-type:disc;
	font-size:1em;
}
ol ol, ul ol {
	list-style-type:upper-roman;
	font-size:1em;
}
a:link, a:visited {
	color:#0239D4;
	text-decoration:underline;
}
a:hover, a:active {
	color: black;
	text-decoration: none;
}
/*== END STANDARD TAG STYLES ==*/
/*== SITE CONTAINER CONFIG ==*/
#container {
	position:relative;
	background:#FFF;
	margin: 0 auto;
	width:1000px;
}
#header {
	background:url(../images/header2.jpg) no-repeat;
	height:152px;
}
#header a {
	text-indent:-9999em;
	display:block;
	width:200px;
	height:150px;
}
#footer {
	position:relative;
	width:980px;
	float:left;
	padding:10px;
/*	background:url(../images/lbbg.gif) repeat; */
        background:white;
	height:170px;
        border: solid #092CE6 2px;
}
#footer div {
	float:left;
}
#footer #fSocial {
	position:absolute;
	right:10px;
	top:10px;
	width:175px;
}
#footer #fSocial p {
	color:#395EB1;
	font-size:12px;
	padding:0;
	margin:0;
}
#footer #fAboutTRH {
	width:415px;
}
#footer #fAboutTRH p {
	font-size:14px;
}
#footer #fNav {
	width:295px;
	padding:0 0 0 6px;
}
#footer #fNav ul {
	float:left;
	margin:10px 8px 0 0;
	padding:10px 0 0 0;
	list-style-type:none;
	font-size:13px;
}
#footer #fNav ul li {
	padding:0 0 13px 0;
}
#footer #fNav ul li a:link, #footer #fNav ul li a:visited {
	color:#0239D4;
	text-decoration:none;
}
#footer #fNav ul li a:hover, #footer #fNav ul li a:active {
	text-decoration:underline;
}
#footer #fContact {
	float:right;
	padding:20px 0 0 0;
	width:263px;
	font-size:12px;
	margin:0;
	background:url(../images/cTRH-Logo.jpg) no-repeat 175px 33px;
}
#footer #fContact img {
	padding:0 4px 16px 0;
}
/*== END SITE CONTAINER CONFIG ==*/
/*== MAIN (TOP) NAVIGATION STARTS HERE ==*/
#navBorder {
	background:url(../images/navTopBorder.jpg) no-repeat;
	height:6px;
}
	#mainNav {
	position:relative;
	padding:0;
	margin:0;
	width:1000px;
	float:left;
	background:url(../images/lbbg.gif) repeat;
	height:30px;
}
#mainNav #social {
	float:right;
	width:150px;
	height:20px;
	text-align:right;
	padding:3px 3px 0 0;
}
#mainNav #social img, #footer #fSocial img {
	margin-right:3px;
}
#mainNav #social a {
	display:inline;
	padding:0;
	margin:0;
}
/* Resets padding and margin for the UL and LI inside the mainNav DIV */
	#mainNav ul, #mainNav li {
	padding:0;
	margin:0;
}
	#mainNav ul {
	list-style-type:none;
}
#mainNav ul.menuHoriz li {
	width:124px;
	height:24px;
	padding:0px;
	margin:0 2px 0 0;
	padding:5px 0 0 0;
	border:none;
	text-align:center;
	float:left;	
}
#mainNav ul.menuHoriz li a {
	height:24px;
	margin-top:0px;
}
#mainNav a {
	display:block;
	height:26px;
	margin:0;
	padding:0 3px;
	font-size:12px;
        font-weight:bold;
}
#mainNav a:link, #mainNav a:visited {
	text-decoration:none;
	color:#0239D4;
}
#mainNav a:hover {
	text-decoration:underline;
}
#mainNav .menuVert {
	padding:0 0 5px 0;
	z-index:1;	
}
#mainNav .menuVert a {
	text-decoration:none;
	width:140px;
	margin:4px 0;
	line-height:1;
}
#mainNav .menuVert a:hover {
	background:#99ccff;
}
#mainNav h3 {
	width:120px;
	color:#999;
	text-indent:2px;
	font-size:12px;
	font-weight:bold;
	border-bottom:#999 1px solid;
	margin:0 0 3px 2px;
}
ul.menuVert {
	position:absolute;
	top:30px;
	background:#cae7fd;
	border-bottom:#99ccff 2px solid;
	border-right:#99ccff 2px solid;
	border-left:#99ccff 2px solid;
	visibility:hidden;
	width: 146px;
}
#mainNav ul.menuVert ul {
	border:#99ccff 1px solid;
	padding:3px;
}
#mainNav ul.menuVert .nested {
	background:url(../images/submenuarrow.png) no-repeat center;
}
#mainNav ul.menuVert .nested:hover {
	background:#99ccff url(../images/submenuarrow.png) no-repeat center;
}
#mainNav ul li.donate {
	text-align:center;
	width:60px;
}
#mainNav ul li.success {
	text-align:center;
	width:120px;
}
ul#subMenuOne {
	left:0px;
}
ul#subMenuTwo {
	left:126px;
}
ul#subMenuThree {
	left:252px;
}
ul#subMenuFour {
	left:378px;
}
ul#subMenuFive {
	left:505px;
}
ul#subMenuSix {
	left:631px;
}
ul#subMenuSeven {
	left:761px;
}
ul#nestedSubMenu1 {
	left:146px;
	top:67px;
}
/*== END STYLING FOR MAIN (TOP) NAV ==*/
/*== MAIN CONTENT DIV STYLING ==*/
#mainContent {
	padding:0 5px 5px 5px;
	width:990px;
	float:left;
	background:#FFF;
}
#mainContent img {
	margin:3px;
}
/*== END MAIN CONTENT DIV STYLING ==*/
/*== ADDITIONAL CLASS SELECTORS ==*/
.update {
	color:blue;
}
.notice {
	font-weight:bold;
        color:red;
}
.clear {
	clear:both;
}
.imgfloatleft {
	float:left;
	clear:left;
}
.showcase tr:nth-child(even) {
	background-color:#ffc;
}
.showcase tr:nth-child(odd) {
	background-color:#ffa;
}

.pageHeading
{
        padding-top:25px;
        padding-bottom:25px;
        font-family:arial,helvetica,sans-serif;
        font-size:20pt;
        font-weight:bold;
        text-align:center;
        vertical-align:middle;
        color:#1111C1;
        background:white;
}

.blogPostBody
{
        padding:5px;
        font-size:14pt;
}

.blogPostDate
{
        padding-top:5px;
        padding-bottom:5px;
        font-family:arial,helvetica,sans-serif;
        font-weight:bold;
        text-align:left;
        vertical-align:middle;
        color:blue;
        background:white;
}

.legend
{
     font-size:10pt;
     color:black;
     font-weight:bold;
     text-align:center;
}

.floatLeft { 
     float:left;
     padding-right:5px;
}

.floatRight { 
     float:right;
     padding-left:5px;
}