.system1 {  font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 10px; color: #000000}
.ta09strong {  font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 9px; font-weight: bold; color: #000000}
