.ta09B {  font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 9px; font-weight: bold}
.navNORta09 {  font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 9px; color: #663300}
.navNORta09B {  font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 9px; font-weight: bold; color: #663300}
.navACTta09B {  font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 9px; font-weight: bold; color: #000000}
.navACTta09 {  font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 9px; font-weight: normal; color: #000000}
.HEADta11B {  font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 11px; font-weight: bold; color: #A42700}
.ta09subnavROL {  font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 9px; font-weight: bold; color: #D68514}
