.ta09 {  font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 9px}
.ta09invers {  font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 9px; color: #FFFFFF}
.ta09help {  font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 9px; color: #C57919}
.ta09save {  font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 9px; font-weight: bold; color: #A42700}
.ta09button {  font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 9px; color: #000000}
.ta09important {  font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 9px; color: #A42700}
.ta09subnavNOR {  font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 9px; font-weight: bold; color: #48443D; text-decoration: none}
.ta09subnavACT {  font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 9px; font-weight: bold; color: #A42700; text-decoration: none}
.ta09quer {  font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 9px; color: #48443D}
.ta09strong {  font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 9px; font-weight: bold; color: #000000}
