.ta11 {  font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 11px}
.ta11 {  color: #000000}
.ta11head {  font-family: Tahoma, Geneva, Verdana, sans-serif; font-size: 11px; font-weight: bold; color: #A42700}
