.web13 {  font-family: Webdings; font-size: 13px; color: #000000}
.web13save {  font-family: Webdings; font-size: 13px; color: #A42700}
.web13bullet {  font-family: Webdings; font-size: 9px; color: #996633}
