.webdings {  font-family: Webdings; font-size: 9px; color: #000000}
.web_arrows {  font-family: Webdings; font-size: 9px; color: #000000}
.web_save {  font-family: Webdings; font-size: 11px; color: #A42700}
.web_help {  font-family: Webdings; font-size: 9px; color: #C57919}
.web_bullet {  font-family: Webdings; font-size: 9px; color: #A42700}
