   .spacer 
   {
        padding-top:5px;
   }

   .navbarcell
   {
        color:#669966;
        background:white;
        font-family:arial,helvetica,sans-serif;
        font-size:10pt;
        font-weight:normal;
        text-decoration:none
   }
   .navbarcell a 
   {
        color:#669966;
        background:white;
        font-family:arial,helvetica,sans-serif;
        font-size:10pt;
        font-weight:normal;
        text-decoration:none
   }

   .pageHeading
   {
        width:600px;
        font-family:arial,helvetica,sans-serif;
        font-size:20pt;
        font-weight:bold;
        text-align:center;
        vertical-align:middle;
        color:#1111C1;
        background:white;
   }

   .leftMenuCell
   {
        font-family:arial,helvetica,sans-serif;
   }

   .bodyCell
   {
        font-family:arial,helvetica,sans-serif;
        color:#666600;
        background:white;
   }
   .legend
   {
        font-size:10pt;
        color:darkblue;
        font-weight:bold;
        text-align:center;
   }
