    table.showcase {
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	border-style: outset outset outset outset;
	border-color: #1111C1 #1111C1 #1111C1 #1111C1;
	border-collapse: collapse;
	background-color: rgb(255, 245, 238);
        color: #1111C1;
    }
    table.showcase a { 
        color: #1111C1;
    }
    table.showcase th {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: inset inset inset inset;
	border-color:  #1111C1 #1111C1 #1111C1 #1111C1;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
    }
    table.showcase td {
	border-width: 1px 1px 1px 1px;
        /*  top right bottom left */
	padding: 10px 5px 10px 5px;
	border-style: inset inset inset inset;
	border-color:  #1111C1 #1111C1 #1111C1 #1111C1;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
        font-size: 10pt;
        font-family: Arial,Helvetica,sans-serif;
    }
    table.showcase span {
        font-weight: bold;
        color: #1111C1;
    }

    .innerShowcase {
	border-width: 0px 0px 0px 0px;
	border-spacing: 1px;
	border-style: outset outset outset outset;
	border-color: red;
	border-collapse: collapse;
	background-color: rgb(255, 245, 238);
    }
    table.innerShowcase th {
	border-width: 0px 0px 0px 0px;
	padding: 1px 1px 1px 1px;
	border-style: inset inset inset inset;
	border-color: red;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
    }
    table.innerShowcase td {
	border-width: 0px 0px 0px 0px;
        /*  top right bottom left */
	padding: 2px 2px 2px 2px;
	border-style: inset inset inset inset;
	border-color: red;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
        font-size: 10pt;
        font-family: Arial,Helvetica,sans-serif;
    }
    table.innerShowcase span {
        font-weight: bold;
    }

    table.docs {
        color:black;
    }

    table.docs div.linksLabel {
        font-weight:bold;
        text-align:center;
    }

    table.docs div.links {
        text-align:center;
    }

    table.docs a {
        color:black;
    }
